.intro-banner-container {
    float: left;
    width: 100%;
    padding-top: 60px;
    margin-bottom: 93px;
    @include media-xs {
        padding-top: 40px;
        margin-bottom: 60px;
    }
    .custom-btn {
        min-width: 160px;
    }
    h1 {
        margin-bottom: 60px;
        width: 88%;
        @include media-xs {
            width: 100%;
        }
        @include media-sm {
            width: 100%;
        }
        @include media-xs {
            width: 95%;
            margin-bottom: 25px;
        }
    }
    &.show {
        h1 {
            visibility: visible;
            animation-duration: 2s;
            animation-name: fadeInLeft;
        }
        .btn-container {
            visibility: visible;
            animation-duration: 2s;
            animation-name: fadeInUp;
            &:after {
                margin-left: -192px;
            }
        }
    }
}

.intro-banner-content {
    padding-top: 134px;
    @include media-sm {
        text-align: left;
        padding-top: 80px;
    }
    @include media-xs {
        text-align: left;
        padding-top: 91px;
        position: relative;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    .custom-btn {
        min-width: 160px;
    }
    .intro-subtitle {
        font-family: $robotoSlabLight;
        font-size: 24px;
        line-height: 26px;
        color: $ebonyClay;
        letter-spacing: 0;
        margin-bottom: 30px;
        display: block;
        visibility: visible;
        animation-duration: 2s;
        animation-name: fadeInLeft;
        @include media-xs {
            font-size: 20px;
        }
    }
    h1 {
        margin-bottom: 60px;
        width: 88%;
        visibility: visible;
        animation-duration: 2s;
        animation-name: fadeInLeft;
        @include media-xs {
            width: 94%;
            margin-bottom: 25px;
        }
        @include media-sm {
            width: 100%;
        }
    }
    .btn-container {
        visibility: visible;
        animation-duration: 2s;
        animation-name: fadeInUp;
        &:after {
            margin-left: -192px;
        }
    }
    .text-intro {
        .description {
            font-family: $robotoSlabLight;
            font-size: 22px;
            line-height: 28px;
            color: $ebonyClay;
            letter-spacing: 0;    
            width: 77%;
            display: block;
            visibility: visible;
            animation-duration: 2s;
            animation-name: fadeInUp;
            @include media-sm {
                width: 93%;
            }
            @include media-xs {
                width: 100%;
                font-size: 18px;
                line-height: 28px;
            }
        }
    }
    .contact-info {
        margin-bottom: 43px;
        display: inline-block;
        @include media-sm {
            margin-bottom: 25px;
        }
        @include media-xs {
            margin-bottom: 20px;
        }
        a {
            font-family: $robotoSlabLight;
            font-size: 32px;
            line-height: 34px;
            color: $ebonyClay;
            letter-spacing: 0;
            display: block;
            margin-bottom: 70px;
            &:hover {
                text-decoration: none;
                color: $ebonyClay;
            }
            &:focus {
                outline: none;
            }
            @include media-md {
                margin-bottom: 30px;
            }
            @include media-sm {
                margin-bottom: 30px;
            }
            @include media-xs {
                margin-bottom: 10px;
                font-size: 24px;
                line-height: 30px;
            }
        }
    }
    .map-container {
        display: flex;
        flex-flow: row wrap;
        margin-bottom: -200px;
        .map-content {
            flex: 1 1 0%;
            width: auto;
            display: flex;
            flex-flow: column nowrap;
            @include media-xs {
                flex: 1 1 100%;
            }
            &:first-child {
                margin-right: 30px;
                @include media-xs {
                    margin-right: 0;
                    margin-bottom: 40px;
                }
            }
            &:last-child {
                margin-right: 0;
            }
        } 
    }
    .map-content {
        span {
            font-family: $robotoSlabLight;
            font-size: 20px;
            line-height: 26px;
            color: $ebonyClay;
            letter-spacing: 0;
            display: block;
            b {
                font-family: $robotoSlab;
            }
        }
        .map-inner-content {
            width: 100%;
            height: 350px;
            margin-top: 30px;
            @include media-xs {
                height: 280px;
            }
            @include media-sm {
                height: 280px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .intro-links-content {
        margin-top: 105px;
        display: inline-block;
        width: 100%;
        @include media-xs {
            text-align: center;
            margin-top: 56px;
        }
        span {
            font-family: $robotoSlabBold;
            font-size: 16px;
            line-height: 26px;
            color: $antiqueBrass;
            letter-spacing: 0;
            display: block;
            margin-bottom: 16px;
            @include media-xs {
                margin-bottom: 10px;
            }
        }
        .horizontal-links {
            list-style: none;
            padding: 0;
            @include media-xs {
                margin-bottom: 20px;
            }
            li {
                font-family: $robotoLight;
                font-size: 16px;
                line-height: 28px;
                color: $ebonyClay;
                letter-spacing: 0;
            }
        }
    }
}
.grey-bg {
    background-color: #EAEAEA;
}
.dark-bg {
    background-color: #2D3C48;
    .intro-banner-content {
        .intro-subtitle {
            color: $white;
        }
        h1 {
            color: $white;
        }
        .intro-links-content {
            .horizontal-links {
                li {
                    color: $white;
                }
            }
        }
    }
}
.extra-big-margin-bottom {
    margin-bottom: 287px;
    @include media-xs {
        margin-bottom: 235px;
    }
}
.big-margin-bottom {
    margin-bottom: 233px;
    @include media-md {
        margin-bottom: 145px;
    }
    @include media-sm {
        margin-bottom: 105px;
    }
    @include media-xs {
        margin-bottom: 75px;
    }
}
.big-padding-bottom {
    padding-bottom: 212px;
}
.medium-margin-bottom {
    margin-bottom: 93px;
    @include media-xs {
        margin-bottom: 60px;
    }
}
.small-margin-bottom {
    margin-bottom: 61px;
    @include media-xs {
        margin-bottom: 35px;
    }
}